{% load i18n %}
<div class="overflow-scroll table-height-with-panel">
    <div id="cashbox-table" class="w-full flex flex-col">
        {% for row in table %}
            <div class="cursor-default table-row">
                {% for column in row.row %}
                    {% if forloop.parentloop.counter == 1 %}
                        {%if forloop.counter == 3 %}
                            <div class="flex-1 px-2.5 hidden sm:block">{{column.text}}</div>
                        {% elif forloop.counter == 4%}
                            <div class="flex-1 px-2.5 hidden sm:block">{{column.text}}</div>
                        {% else %}
                            <div class="flex-1 px-2.5">{{column.text}}</div>
                        {% endif %}
                    {% else %}
                        {% if forloop.counter == 3 %}
                            <div class="flex-1 px-2.5 hidden sm:block">{{column.text}}</div>
                        {% elif forloop.counter == 4 %}
                        <div class="flex-1 px-2.5 items-center gap-2.5 hidden sm:flex">
                            <div>{{column.text}}</div>
                            <img class="w-5 h-5" src="{{column.currency}}" alt="currency">
                        </div>
                        {% elif forloop.counter == 5 %}
                            {% if column.type == 'replenishment' %}
                                <div class="flex-1 px-2.5 text-green-500">{{column.text}}</div>
                            {% elif column.type == 'withdrawal' %}
                                <div class="flex-1 px-2.5 text-red-500">{{column.text}}</div>
                            {% elif column.type == 'guest print' %}
                                <div class="flex-1 px-2.5 text-orange-500">{{column.text}}</div>
                            {% endif %}
                        {% else %}
                            <div class="flex-1 px-2.5">{{column.text}}</div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
<div class="mt-[42px]"></div>
<div class="absolute inset-x-0 bottom-5 px-5">
    <div class="w-full flex justify-between border-t border-gray-300 self-end">
        <div {% if previous_page != '…' %} onclick="load_cashbox_table({{previous_page}})" {% endif %} class="flex gap-2.5 text-gray-400 pt-4 mt-[-1px] border-t-2 border-transparent {% if previous_page != '…' %} cursor-pointer hover:border-gray-300 hover:text-gray-600 {% else %} cursor-default {% endif %}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
            </svg>
            {% translate "Previous" %}
        </div>
        <div class="hidden sm:flex sm:mt-[-1px]">
            {% for page_number in pagination %}
                <div {% if page_number != '…' %} onclick="load_cashbox_table({{page_number}})" {% endif %} class="text-sm fount-normal text-gray-400 pt-4 px-4 border-t-2 {% if page_number != '…' %} cursor-pointer {% else %} cursor-default hover:border-transparent {% endif %} {% if page_number == current_page %} text-indigo-600 border-indigo-600 {% else %} border-transparent hover:border-gray-300 hover:text-gray-600 {% endif %}"> {{page_number}}</div>
            {% endfor %}
        </div>
        <div {% if next_page != '…' %} onclick="load_cashbox_table({{next_page}})" {% endif %} class="flex gap-2.5 text-gray-400 pt-4 mt-[-1px] border-t-2 border-transparent {% if next_page != '…' %} cursor-pointer hover:border-gray-300 hover:text-gray-600 {% else %} cursor-default {% endif %}">
            {% translate "Next" %}
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
            </svg>
        </div>
    </div>
</div>
<input type="hidden" id="cashbox-table-page-number" value="{{current_page}}">