{% load i18n %}
<div class="w-full flex flex-col items-center justify-center my-auto" role="dialog" aria-modal="true">
    <div class="absolute inset-0 bg-black bg-opacity-30"></div>
    <div class="z-30 bg-white rounded-md w-full max-w-2xl border border-gray-300 relative flex flex-col p-5 gap-5">
        <div class="absolute top-2.5 right-2.5 text-indigo-600 cursor-pointer" onclick="close_modal();">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>              
        </div>
        <h2 class="text-center text-2xl font-bold text-gray-900 mx-5">{% translate "Add new transaction" %}</h2>
        <div class="border-b -mx-5"></div>
        <div class="flex gap-2.5 justify-between items-center">
            <label class="text-base font-normal text-gray-900" for="cashbox-view-user">{% translate "User" %}</label>
            <div class="w-full flex flex-col max-w-md gap-2.5">
                <input class="p-1 form-input" type="text" id="cashbox-view-user">
                <ul class="border rounded-md p-2 hidden" id="cashbox-view-user-selection"></ul>
            </div>
            <input type="hidden" id="cashbox-view-users" value="{{users}}">
            
        </div>
        <div class="flex gap-2.5 justify-between items-center">
            <label class="text-base font-normal text-gray-900" for="cashbox-view-type">{% translate "Type" %}</label>
            <select class="p-1 form-input max-w-md" id="cashbox-view-type">
                {%for type in types %}
                    <option value="{{type.value}}">{{type.text}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="flex gap-2.5 justify-between items-center">
            <label class="text-base font-normal text-gray-900" for="cashbox-view-amount">{% translate "Amount" %}</label>
            <input class="p-1 form-input max-w-md" type="number" id="cashbox-view-amount">
        </div>
        <div class="flex gap-2.5 justify-between items-center">
            <label class="text-base font-normal text-gray-900" for="cashbox-view-date">{% translate "Date" %}</label>
            <input class="p-1 form-input max-w-md" type="datetime-local" disabled value="{{date}}" id="cashbox-view-date">
        </div>
        <div class="flex justify-end">
            <div class="flex gap-2.5 items-center font-sm font-semibold text-green-500 border rounded-md border-green-500 px-2 py-1 cursor-pointer hover:bg-green-500 hover:bg-opacity-10" onclick="cashbox_action({{id}}, 'view_save')">
                {% translate "Save" %}
            </div>
        </div>
    </div>
</div>