{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block  content %}
<div class="min-h-screen flex flex-col justify-center items-center px-6 my-12">
    <form class="my-auto w-full sm:max-w-sm flex flex-col" method="post" action="{% url 'set-password' %}">
        {% csrf_token %}
        <h2 class="text-center text-2xl font-bold text-gray-900">{% translate "Forgot password" %}</h2>
        <label class="mt-5 block text-base font-normal text-gray-900" for="{{form.username.id_for_label}}">{{form.username.label_tag}}</label>
        {{form.username|add_class:"mt-2.5 block form-input"}}
        <div class="mt-1 text-sm font-light leading-4 text-gray-900">{{form.username.help_text}}</div>
        <div class="mt-1 text-sm text-red-500 font-light leading-4">{{form.username.errors}}</div>

        <label class="mt-2.5 block text-base font-normal text-gray-900" for="{{form.username.id_for_label}}">{{form.new_password1.label_tag}}</label>
        {{form.new_password1|add_class:"mt-2.5 block form-input"}}
        <div class="mt-1 text-sm font-light leading-4 text-gray-900">{{form.new_password1.help_text}}</div>
        <div class="mt-1 text-sm text-red-500 font-light leading-4">{{form.new_password1.errors}}</div>
        
        <label class="mt-2.5 block text-base font-normal text-gray-900" for="{{form.username.id_for_label}}">{{form.new_password2.label_tag}}</label>
        {{form.new_password2|add_class:"mt-2.5 block form-input"}}
        <div class="mt-1 text-sm font-light leading-4 text-gray-900">{{form.new_password2.help_text}}</div>
        <div class="mt-1 text-sm text-red-500 font-light leading-4">{{form.new_password2.errors}}</div>
        {{form.new_password2.help_text}}

        {% for error in form.non_field_errors %}
            <div class="mt-5 text-sm text-red-500 font-light leading-4">{{error}}</div>
        {% endfor %}

        <button class=" mt-5 form-button" type="submit">{% translate "Change password" %}</button>
    </form>
</div>
{% endblock %}